<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="material.kangere.com.tandaza"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDzQItVUasl2IwfrxsntcVcwpc-Y-h5l2I" />

        <activity
            android:name=".NavActivities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavActivities.Ministries"
            android:label="@string/title_activity_ministries" />


        <activity
            android:name=".NavActivities.YouthMinistry"
            android:label="@string/title_activity_youth_ministry"
            android:parentActivityName=".NavActivities.Ministries">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavActivities.Ministries" />
        </activity>
        <activity
            android:name=".NavActivities.ChildrenMinistry"
            android:label="@string/title_activity_children_ministry"
            android:parentActivityName=".NavActivities.Ministries">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavActivities.Ministries" />

        </activity>


        <activity
            android:name=".Notifications_settings"
            android:label="@string/title_activity_notifications_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MakeNotification"
            android:label="@string/title_activity_make_notification"
            android:theme="@style/AppTheme" />
        <!--<activity
            android:name=".NavActivities.Show_Notifications"
            android:label="@string/title_activity_show__notifications"
            android:theme="@style/AppTheme" /> -->
        <activity
            android:name=".videoimageupload.UploadActivity"
            android:label="@string/title_activity_show__notifications"
            android:theme="@style/AppTheme" />
        <!-- <activity
             android:name=".NavActivities.ViewNotification"
             android:label="Details"
             android:parentActivityName=".NavActivities.Show_Notifications"
             android:theme="@style/AppTheme">
             <meta-data
                 android:name="android.support.PARENT_ACTIVITY"
                 android:value=".NavActivities.Show_Notifications" />
         </activity> -->


    </application>

</manifest>
